@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To create a new template, visit "Templates" in the navbar.</p>
    <p>To view audits, begin a new audit, or complete an audit in progress, visit "Audits" in the navbar.</p>
</div>